<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>尚美画室学生信息管理系统</title>
    <h1 style="font-family: STXingkai;margin: -25px 0px 0px 200px;font-size:45px">尚美画室学生信息管理系统</h1>
    <style type="text/css">
        ul{
            font-size:17px;
            color:rgb(128, 13, 13);
            background:613030;
            height:15px;
            width:1300px;
            font-family: STSong;
         }

    </style>
    <link rel="stylesheet" type="text/css" href="/static/style.css">


        <div id="nav">
            <div id="inner-nav">
                <a href="{{url_for('addstu')}}">增加学员    </a>             
                <a href="{{url_for('searchstu')}}">查找学生 </a>
                <a href="{{url_for('altstu')}}">学员缴费    </a>
                <a href="{{url_for('delstu')}}">删除学员    </a>
                <a href="{{url_for('guoqistu')}}">到期学员    </a>
            </div>
        </div>
    </head>
    <table border="1" cellpacing="10">
        {% for i in find %}
                        <tr>
                           <td><ul><li><b>{{ i }}</b></li></ul></td>
                        </tr>
             {% endfor %}
</table>
<div id="inner-nav1">
    <a href="{{url_for('index')}}">回到首页</a>
</div>
</body>
</html>
